<%- include ../layouts/header.ejs %>
<br>
<br>
<div class="card">
  <div class="card-header">
    Formulario de Captura de Datos
  </div>
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <p class="card-text">
      <form action="/libros" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Escriba su nombre"
            aria-describedby="helpId">
        </div>
      
        <div class="mb-3">
          <label for="archivo" class="form-label">Imagen</label>
          <input type="file" class="form-control" name="archivo" id="archivo" placeholder="Seleccione la imagen"
            aria-describedby="fileHelpId">
        </div>
      
        <button type="submit" class="btn btn-success">Guardar</button>
        <a class="btn btn-primary" href="/libros" role="button">Cancelar</a>
      </form>
    </p>
  </div>
  
</div>

<%- include ../layouts/footer.ejs %>